body {
    background-color: red;

}

#small,
#medium,
#large {
    display: block;
    font-size: small;
    color: antiquewhite;
    text-align: center;
    border: 2px solid black;
    justify-content: space-around;
}


@media screen and (min-width: 480px) {
    body {
        background-color: green; 
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
       
        align-items: center;
        font-size: medium;
        color: antiquewhite;
        text-align: center;


    }

    #small {
        width: 66%;
        height: auto;
        
        
        
    }

    #medium {
        width: 33%;
        height: auto;
        
        
        
    }

    #large {
        width: 100%;
        height: auto;
        
        
        
    }

}

@media screen and (min-width: 1024px) {
    body {
        background-color: blue;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
        font-size: large;
        color: antiquewhite;
        text-align: center;
    }

    #small{
        width: auto;
        height: auto;

    }
    #medium {
        width: auto;
        height: auto;

    }
    #large{
        width: auto;
        height: auto;
    }

}